data filter=lfs diff=lfs merge=lfs -text
data/*.mat filter=lfs diff=lfs merge=lfs -text
data/*.pri filter=lfs diff=lfs merge=lfs -text
data/*.tri filter=lfs diff=lfs merge=lfs -text
data/yield.m filter=lfs diff=lfs merge=lfs -text
data/yield.pmma.det filter=lfs diff=lfs merge=lfs -text
data/yield_pri.m filter=lfs diff=lfs merge=lfs -text
data/yield.silicon.det filter=lfs diff=lfs merge=lfs -text
